/* 蓝色主题样式 */
:root {
  --body_bg: white;
  --nav_bg: white;
  --nav_color: white;
  --main_bg: val(--nav-color);
  --tophead:
    linear-gradient(to bottom, rgb(125 70 224) 20%, rgb(116 52 232) 30%, rgb(87 3 239) 80%), url(/images/indexNew2-2.png) no-repeat top center;
  --boxtitlebg: #fff;
  --boxtitlebt: #FFFFFF;
  --mboxtxtcolor: #fff;
  /* 110 129 149  */
  --mtablecolor: #000;
  --mtabletrcolor: #7e73e92e;
  --mtablethcolor: #000;
  --mtablecolorIm: #63affc;
  --boxbot: 1;
  --widgetcolor: #000;
  --def1ff: #000000;
  --ztitemtit1: #594bdd;
  --ztboxbg: #7e73e985;
  --indexseven: url(/images/index_07_purple.png) no-repeat;
  --indexeight: url(/images/index_08_purple.png) no-repeat;
  --portal: #c9c5ee;
  --portalborder: 1px solid #7365FF;
  --swDivSelectcolor: #7365FF;
  --liuyupjbg: url(/images/liuyupjbg_boxpurple.png);
  --spanTitle: url(/images/titleImg15.png) no-repeat left center;
  --titleborder: 1px solid #e4e7ed;
  --titled1: #6457de;
  --titled2: #7e73e985;
  --titlemenu: #fff;
  --warningTitle: #def1ff;
  --title2: #7e73e9;
  /* 弹窗的背景色 */
  --dialogColor: #ffffff;
  /* 配置设置标题栏背景色 */
  --dividerColor: #ffffff14;
  /* 雨情：统计信息背景色 */
  --widgetColor: #7e73e985;
  /* 侧边栏颜色 */
  --labelColor: #000;
  /* 圩区行政分区botton背景色 */
  --wqbotton: #5d8ab7;
  /* 主题颜色 */
  --themeColor: #63affc;
  /* 工情边界交换水量 */
  --ystsName: #363f42;
  /* 项目配置选择颜色 */
  --innerColor: rgb(99, 175, 252);
  /* 行政分区背景色 */
  --areaColor: #CAE3FC;
  /* 行政分区旋转背景色 */
  --areaSelectColor: #38daff;
  /*气象背景色*/
  --qixiangmainbg: #fff;
  /*气象右边背景图*/
  --qixiangrightbg: url(/images/qixiangbgwhite.png);
  --qixianglefttitlebg: #6ccaf3;
  --qixianglefttitlebg: rgba(255, 255, 255, 1);
  --qixianglefttitlebglabel: #000;
  --qixianglefttitlebghover: #000;

  --eldropdownmenubg: rgba(255, 255, 255, 1);
  /* 工情统计背景色 */
  --ClassNameBcak: linear-gradient(to right, #7b6fe3 0%, #948ed3 40%, #beafd9 85%, #d7caed 100%);
  --ClassNameBcakSelect: linear-gradient(to right, #4f41c7 0%, #635abb 40%, #8450e3 85%, #8d63db 100%);
  /* 引/排水量统计统计字体颜色 */
  --textXiaolv: #000;
  /*圩区单站*/
  --wqtitleline: #a5acb5;
  --wqdanzhanboxallbg: rgba(255, 255, 255, 1);
  --wqdanzhanboxallbordercolor: rgba(0, 160, 255, 0.37);
  --wqdanzhanboxallbeforeafter: #2493f2;
  --wqdanzhansycmspancolor: #000;
  --wqdanzhansycmspancoloropacity: 0.6;
  --wqdanzhansycmsh2color: #00a0ff;
  --wqdanzhansycmsh2colorfontsizeWhite: #00a0ff !important;
  --wqdanzhanalltitlebordercolor: rgba(0, 0, 0, 0.2);
  --wqdanzhanclearfixbordercolor: rgba(0, 0, 0, 0.2);
  /*圩区单站*/

  /*弹出框标题背景*/
  --popContentHeadbg: #7e73e9;
  --popContentHeadbgyb: #7e73e9;
  /*弹出框标题背景*/
  --popContentDiv: #7e73e9;

  /* 文本框 */
  --el-inputbg: #d5141400;
  --el-inputbox-shadow: #a5acb5;

  /* 查询按钮背景色 */
  --buttonsearchbg: #3291F9;
  --buttonsearchbordercolor: 1px solid #dddCCC;

  --btnListcurListspan: rgba(255, 255, 255, 1);
  --btnListlicolor: #303133;
  --btnListlicolorSeleted: #fff;

  --sel_wraplabelcolor: #000;
  --sel_wraplabelcolorSel: #fff;

  --el-table-bg-colornew: #fff;
  --el-table-tr-bg-colornew: #fff;

  --wqInformation-bg: #efefefa8;
  --wqInformation-li-bg: #fff;
  --conter-nayuimg: url(/images/gongshuirenkouWhite.png);
  --conter-nayulabel: #000;

  /* 树形菜单 */
  --el-tree-bg: none;
  --el-fill-color-blank: none;
  --el-tree-text-colornew: #000 !important;
  --el-tree-node-hover-bg-colornew: #E5F2FC;
  /* 弹出框头部背景色 */
  --popupContentTitlebg: #7e73e9;
  --popupContentTitleColor: #7365FF;
  /* 响应消息通知 */
  --messageIamge: url(/images/qxjz/message_VioletTheme.png);
  /* 搜索框关闭图片 */
  --popupCloseImg: url(/images/qxjz/missBlack.png);
  /* 图例背景 */
  --tuli-bg: rgba(0, 0, 0, 0.2);
  --typhoonMenuItem-bg: rgb(105 92 239);
  /* 弹窗tab的切换 */
  --menuTop: url(/images/menuTopVioletTheme.png);
  --menuTopSelected: url(/images/menuTopSelectedVioletTheme.png);
  /* 圩区左侧的切换 */
  --caseBtnWind: url(/images/weatherMap/caseBtn_windVioletTheme.png);
  --caseBtnWindCur: url(/images/weatherMap/caseBtn_wind_curVioletTheme.png);
  --caseBtnRain: url(/images/weatherMap/caseBtn_rainVioletTheme.png);
  --caseBtnRainCur: url(/images/weatherMap/caseBtn_rain_curVioletTheme.png);
  --caseBtnDD: url(/images/weatherMap/caseBtn_DDVioletTheme.png);
  --caseBtnDDCur: url(/images/weatherMap/caseBtn_DD_curVioletTheme.png);
  --caseBtnTemp: url(/images/weatherMap/caseBtn_tempVioletTheme.png);
  --caseBtnTempCur: url(/images/weatherMap/caseBtn_temp_curVioletTheme.png);
  --caseBtnWater: url(/images/weatherMap/caseBtn_WaterVioletTheme.png);
  --caseBtnWaterCur: url(/images/weatherMap/caseBtn_Water_curVioletTheme.png);
  /* swpier切换 */
  --swiperSlide: url(/images/index_09_01.png);
  --swiperSlideActive: url(/images/index_10_02.png);
  --ystsVvalue: #52656d;
  /* 分区预报降雨图例文字颜色 */
  --yubaoyqColor: #333;
  /* 评估背景图 */
  --pingguLeftBack: url(/images/arightboxtopVioletTheme3.png);
  --pingguRightBack: url(/images/amiddboxttopVioletTheme3.png);
  --pingguSelectFangAn: rgba(115, 101, 255, 0.5);
  /* 站网 */
  --bgYear: #7e73e985;
}