/* html根元素，不可以用body*/
.content {
  /*网页默认16px*/
  font-size: 16px;
}

#cesiumContainer {
  display: block;
  width: 100%;
  height: 100%;
}

#cesiumContainer canvas {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1600px) {
  .content {
    font-size: 14px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1100px) {
  .content {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 751px) {
  .content {
    font-size: 12px;
  }
}

@media screen and (max-device-width: 600px) and (orientation: portrait),
screen and (max-width: 750px),
screen and (max-device-width: 820px) and (orientation: landscape) {
  .content {
    font-size: 12px;
  }
}

.content {
  width: 100%;
  height: 100%;
  background: var(--dialogColor);
  /* background-image: radial-gradient(#10215c 30%, #070f29 65%); */
  /* background-image: radial-gradient(#1360af  30%, #07408e 65%); */
  /* min-width: 120rem; */
}

.g-hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.375rem;
  background-size: auto 74px;
  overflow: hidden;
  z-index: 99;
}

.g-hd .title {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
}

.g-hd .title img {
  width: 100%;
}

.m-menu .zuo {
  color: var(--titlemenu);
  width: calc(50% - 420px);
  position: fixed;
  top: 20px;
}

.warningTitle {
  text-align: center;
  font-size: 24px;
  font-family: 微软雅黑;
  letter-spacing: 2px;
  color: var(--warningTitle);
  font-weight: bold;
}

.zhong {
  /*width: 50%;*/
  width: 700px;
  /*margin-top: 2rem;*/
  /* position: fixed; */
  /*left: 25%;*/
  left: calc(50% - 360px);
  top: 5.8rem;
  padding-left: 0px;
  position: absolute;
  z-index: 9;
}

/* .zhong .item {
  font-size: 1.1rem;
  color: #FFFFFF;
  width: 20%;
  max-width: 12rem;
  height: 2.5rem;
  line-height: 5rem;
  text-align: center;
  background: var(--indexeight);
  background-size: 100% 100%;
  cursor: pointer;
} */
.zhong .item {
  font-size: 1.1rem;
  color: #FFFFFF;
  width: 22%;
  max-width: 12rem;
  height: 3.6rem;
  line-height: 5rem;
  text-align: center;
  background: var(--indexeight);
  background-size: 100% 100%;
  cursor: pointer;
  margin-right: 6px;
}

.zhong .itemGray {
  font-size: 1.1rem;
  color: #FFFFFF;
  width: 20%;
  max-width: 12rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background: url(/images/index_08_gray.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.zhong .item.z-crt {
  background: var(--indexseven);
  background-size: 100% 100%;
  color: #FFFFFF;
  font-weight: bold;
}

.m-menu .you {
  color: var(--titlemenu);
  width: calc(50% - 320px);
  line-height: 28px;
  position: fixed;
  top: 42px;
  left: 75%;
}

.m-menu .you span {
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 1;
  font-family: number;
}

.m-menu .you i {
  margin-left: 1rem;
  line-height: 28px;
}

.g-lside {
  position: fixed;
  left: 0;
  top: 5rem;
  width: 28rem;
  height: calc(100vh - 5rem);

}


.g-rside {
  position: fixed;
  right: 0;
  top: 5rem;
  width: 28rem;
  height: calc(100vh - 5rem);
}

.m-box {
  z-index: 99;
  position: relative;
}

.m-box-left {
  box-shadow: 5px 0px 20px #888686;
}

.m-box-right {
  box-shadow: -5px 0px 20px #888686;
}



.m-box .bot {
  height: 10px;
  background: var(--boxtitlebg);
}

/* 三等均分 */
.m-box .txt {
  height: calc(calc(100vh - 18.225rem)*(2/6));
  overflow: hidden;
  background: var(--boxtitlebg);
}

/* 二等分 */
.m-box-1 .txt {
  height: calc(calc(100vh - 12.125rem)*(4 / 6));
  overflow: hidden;
}

/* 二等均分 */
.m-box-2 .txt {
  height: calc(calc(100vh - 14.125rem)*(3/6));
  overflow: hidden;
}

/* 一等分 */
.m-box-3 .txt {
  height: calc(calc(100vh - 10.025rem)*(6 / 6));
  overflow: hidden;
}

/* 三分：一等分，二、三均分 */
.m-box-3-1 .txt {
  height: calc(calc(100vh - 25.125rem)*(1 / 6));
  overflow: hidden;
}

.m-box-3-2 .txt {
  height: calc(calc(100vh - 4.125rem)*(2 / 6));
  overflow: hidden;
}

/* m-box-3-2之后，后面两个均分 */
.m-box-3-2-2 .txt {
  height: calc(calc(100vh - 25rem)*(2/6));
  overflow: hidden;
}

/*第一个很小，第二个很大*/
.m-box-small .txt {
  height: calc(calc(100vh - 17.175rem)*(1 / 4));
  overflow: hidden;
}

.m-box-small2 .txt {
  height: calc(calc(100vh - 12.825rem)*(3 / 4));
  overflow: hidden;
}

.m-list2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.m-list4 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #017DE4;
  height: 100%;
}

.m-list3 {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  color: #017DE4;
  height: 100%;
}

.m-list3 .item span {
  font-size: 1rem;
  color: var(--mtablethcolor);
  font-weight: normal;
}

.m-list5 {
  width: 96%;
  margin-left: auto;
  color: #017DE4;
  height: 100%;
}

.m-list6 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-list6 .item {
  width: 50%;
  color: var(--mtablethcolor);
}

.m-list6 .item span {
  color: #c0ff00;
  font-size: 1.75rem;
  font-family: number;
  margin-right: .5rem;
}


.custom-scroll {
  height: 100%;
}


.Grentsquare {
  display: inline-block;
  width: 10px;
  height: 15px !important;
  padding: 4px;
  border: 2px solid #00DB00;
  background-color: #00DB00;
  font-size: 14px !important;
  margin-left: 2px;
  margin-top: 5px;
}

.HUIsquare {
  display: inline-block;
  width: 10px;
  height: 15px !important;
  padding: 4px;
  border: 2px solid #A1A1A1;
  background-color: #A1A1A1;
  font-size: 14px !important;
  margin-left: 2px;
  margin-top: 5px;
}

.onlytab {
  list-style: none;
  color: #00feff;
  border-color: #00feff;
  z-index: 988;
  width: 100px !important;
}

.onlytab li {
  float: left;
  background-color: #0f637e;
  height: 31px;
  width: 50%;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}

.onlytab li:first-child {
  border-radius: .75rem 0 0 .75rem;
}

.onlytab li:last-child {
  border-radius: 0 .75rem .75rem 0;
}

.onlyliHover {
  background-color: #00feff !important;
  color: #042828;
}

.bigimg {
  /*width: 600px;*/
  width: 60%;
  height: 80%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  z-index: 9999;
  border: 10px solid #fff;
}

.closeImg {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  cursor: pointer;
}

.titleText {
  /* font-family: 'largeFont'; */
  font-family: 黑体;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  background: linear-gradient(180deg, #FFFFFF 37.41%, #B4CFF2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* padding-top:2px; */
}

.icontitle {
  position: relative;
  height: 2.5vh;
  background-image: url(/images/icontitle.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  font-size: .9rem;
  line-height: 1;
  color: #abdaff;
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
  /*font-style: italic;*/
  font-weight: 400;
  margin-left: 40px;
}

.font-pangmen {
  font-family: 庞门正道, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

.title-name {
  padding-left: 5px;
  font-size: 16px;
}


.onlytabTop {
  list-style: none;
  color: #00feff;
  border-color: #00feff;
  z-index: 988;
  width: 500px !important;
  display: inline;
  position: relative;
  left: 8px;
  bottom: 6px;
}

.onlytabTop li {
  float: left;
  background-color: #0f637e;
  height: 31px;
  width: 40px;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
  border: 1px solid #00feff;
}

.onlytabTop li:first-child {
  border-radius: .75rem 0 0 .75rem;
}

.onlytabTop li:last-child {
  border-radius: 0 .75rem .75rem 0;
}

.onlytabToponlyliHover {
  background-color: #00feff !important;
  color: #042828;
}

.ysts-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 60%;
  width: 0;
  height: 100%;
  padding-left: .8rem;
  color: #fff;
}

.ysts-item {
  flex: 0 0 50%;
}

.ysts-name {
  font-size: .9rem;
  /*font-style: italic;*/
  color: var(--ystsName);
}

.ysts-value {
  position: relative;
}

.ysts-value:before {
  content: "";
  position: absolute;
  left: -1.5vh;
  top: 1.25vh;
  width: 1.1vh;
  height: 1.1vh;
}

.ysts-num {
  font-size: 1.3rem;
}

.ysts-unit {
  margin-left: .1rem;
  font-size: .8rem;
  color: var(--ystsName);
}

.font-agency {
  font-family: AGENCYB, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
}

.color-hh1 {
  color: #efc30a;
}

.ysts-value.color-hh1:before {
  background-color: #efc30a;
}


.color-hh2 {
  color: #00fd6d;
}

.ysts-value.color-hh2:before {
  background-color: #00fd6d;
}


.color-hh3 {
  color: #B5F320;
}

.ysts-value.color-hh3:before {
  background-color: #B5F320;
}

.color-hh4 {
  color: #00CCFB;
}

.ysts-value.color-hh4:before {
  background-color: #00CCFB;
}

.color-hh5 {
  color: #00AEFD;
}

.ysts-value.color-hh5:before {
  background-color: #00AEFD;
}

.color-hh6 {
  color: #6374FD;
}

.ysts-value.color-hh6:before {
  background-color: #6374FD;
}

.color-hh7 {
  color: #ECAEFD;
}

.ysts-value.color-hh7:before {
  background-color: #ECAEFD;
}


.color-hh8 {
  color: #EC30FD;
}

.ysts-value.color-hh8:before {
  background-color: #EC30FD;
}

.color-hh9 {
  color: #EC3032;
}

.ysts-value.color-hh9:before {
  background-color: #EC3032;
}


.color-cj1 {
  color: #3E8BFF;
}

.ysts-value.color-cj1:before {
  background-color: #3E8BFF;
}

.color-cj2 {
  color: #1CB8B2;
}

.ysts-value.color-cj2:before {
  background-color: #1CB8B2;
}

.color-cj3 {
  color: #01DDFF;
}

.ysts-value.color-cj3:before {
  background-color: #01DDFF;
}

.color-cj4 {
  color: #F9C823;
}

.ysts-value.color-cj4:before {
  background-color: #F9C823;
}

.color-cj5 {
  color: #0264FD;
}

.ysts-value.color-cj5:before {
  background-color: #0264FD;
}

.color-cj6 {
  color: #FE7923;
}

.ysts-value.color-cj6:before {
  background-color: #FE7923;
}

.color-cj6 {
  color: #8E30FF;
}

.ysts-value.color-cj6:before {
  background-color: #8E30FF;
}


.color-zc {
  color: #07EF7D;
}

.color-zc:before {
  background-color: #07EF7D;
}

.color-min {
  color: #00cfff;
}

.color-min:before {
  background-color: #00cfff;
}

.color-wrz {
  color: #F7BC00;
}

.color-wrz:before {
  background-color: #F7BC00;
}

.color-grz {
  color: red;
}

.color-grz:before {
  background-color: red;
}


/*开关样式*/
.el-switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: .875rem;
  line-height: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}

.el-switch__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.el-switch__core,
.el-switch__label {
  display: inline-block;
  cursor: pointer;
}

.el-switch__core {
  margin: 0;
  position: relative;
  width: 2.5rem;
  height: 1.25rem;
  border: .0625rem solid #a0a2ab;
  outline: 0;
  border-radius: .625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #a0a2ab;
  -webkit-transition: border-color .3s, background-color .3s;
  transition: border-color .3s, background-color .3s;
  vertical-align: middle;
}

.el-switch__core:after {
  content: "";
  position: absolute;
  top: 0.0715rem;
  left: .0625rem;
  border-radius: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.el-switch.is-checked .el-switch__core {
  border-color: #05c7c7;
  background-color: #05c7c7;
}

.el-switch.is-checked .el-switch__core:after {
  left: 100%;
  margin-left: -1.0625rem;
}


.jinru img {
  top: 18px !important;
}

.m-box .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: var(--boxtitlebg);
  background-size: 100% auto;
  font-size: 1.3rem;
  color: var(--def1ff);
  font-weight: 500;
  font-family: largeFont;
  border-bottom: 1px solid var(--portal);
  margin-top: 15px;
}

.m-box .title .spanTitle {
  /* width: 160px !important;
  width: 30% !important;
  position: absolute;
  right: 10px;
  width: 100%;
  height: 30px;
  background: var(--spanTitle);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; */
}

.m-box .title span {
  padding-left: 12px;
  line-height: 30px;
  color: var(--title2);
}

.g-lside .leftTop-radius {
  border-top-right-radius: 10px;
}

.g-rside .leftTop-radius {
  border-top-left-radius: 10px;
}

.g-lside .leftBottom-radius {
  border-bottom-right-radius: 10px;
}

.g-rside .leftBottom-radius {
  border-bottom-left-radius: 10px;
}

.aside {
  height: auto;
  position: absolute;
  /* top: 6.5rem; */
  /* top: 8.5rem; */
  top: 6rem;
  right: 29rem;
  z-index: 2;
}

.ztitem {
  background: var(--ztboxbg);
  background-size: 100% 100%;
}

.hand {
  cursor: pointer;
}

.layout_title .d1,
.layout_title .d2 {
  width: 14px;
  height: 14px;
  background: var(--titled1);
  border-radius: 2px;
  position: absolute;
  left: 0px;
  top: 15px;
  margin: 0px 10px;
}

.layout_title .d2 {
  background: var(--titled2);
  left: 7px;
  top: 9px;
}

.pl-2,
.px-2 {
  padding-left: 10px !important;
}

.px-2 {
  padding-right: 10px !important;
}

.layout_title {
  position: relative;
  padding: 5px;
}

.layout_title .base-p {
  color: var(--title2);
  /* font-size: 16px; */
  line-height: 4px;
  margin-left: 30px;
  /* font-weight: 800 !important; */
  display: inline-block;
  padding-top: 12px;
  cursor: pointer;
}

.layout_title .base-p1 {
  color: var(--title2);
  /* font-size: 16px; */
  line-height: 4px;
  margin-left: 30px;
  /* font-weight: 800 !important; */
  display: inline-block;
  padding-top: 12px;
}

.layout_title .base-p:hover {
  transform: scale(1.3);
  transition: transform 1s, width 1s, height 1s;
  /* 定义过渡效果的时间为1秒 */
  transform-origin: center;
  /* 定义变形的中心点，默认是元素的中心 */
}

.layout_title .base-p1:hover {
  transform: scale(1);
  transition: transform 1s, width 1s, height 1s;
  /* 定义过渡效果的时间为1秒 */
  transform-origin: center;
  /* 定义变形的中心点，默认是元素的中心 */
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


.onlytabHeadMenu {
  list-style: none;
  color: #e9ecec;
  border-color: #00feff;
  z-index: 988;
  width: 100% !important;
  display: inline;
  position: relative;
  /*left: 8px;*/
  bottom: 0px;
  height: 2.5rem;
  padding-inline-start: 0px;
}

.onlytabHeadMenu li {
  float: left;
  /*background-color: #1b305a;*/
  height: 2.5rem;
  width: 50%;
  /*text-align: center;*/
  line-height: 2.5rem;
  cursor: pointer;
  /*border: 1px solid #086795;*/
}

.onlytabHeadMenu li:first-child {
  padding-left: 15px;
}

.onlytabHeadMenu li:last-child {
  border-left: 2px solid #0ac0e6;
  padding-right: 15px;
}


.justify-content_flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 2;
}

/*标签开始*/
.light {
  width: auto;
  position: relative;
  bottom: -60px;
  right: 0px;
  padding: 5px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  white-space: break-spaces;
  text-align: left;
  transform: translateY(-60px);
}

.lightcontent {
  width: 100%;
  height: 100%;
}

.LabelPlotBeautiful-container {
  position: absolute;
  pointer-events: auto;
  transform-style: preserve-3d;
  transform: scale(0.9);
  /* transform: translateY(-90px); */
  margin-top: -90px;
}

.LabelDRP {}

.LabelPlotBeautifulDRP {
  position: absolute;
  pointer-events: auto;
  transform-style: preserve-3d;
  transform: scale(0.9);
  margin-top: -40px;
}

.textName {
  color: rgb(255, 255, 255);
  text-align: center;
}

.textValue {
  padding: 0px 8px;
  background: rgb(64, 252, 0);
  text-align: center;
  border-radius: 5px;
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.textValueWRZ {
  padding: 0px 8px;
  background: #F7B90B;
  text-align: center;
  border-radius: 5px;
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
  color: #000
}

.textValueGRZ {
  padding: 0px 8px;
  background: #DE2424;
  text-align: center;
  border-radius: 5px;
  line-height: 28px;
  font-size: 16px;
  font-weight: bold;
  color: #fff
}

/* 工情 */
.LabelPlotBeautifulTGTQ {
  position: absolute;
  pointer-events: auto;
  transform-style: preserve-3d;
  transform: scale(0.9);
  margin-top: -40px;
  border-radius: 10px;
  background: rgba(15, 33, 43, 0.8);
}

/* 水量 */
.LabelPlotBeautifulSL {
  position: absolute;
  pointer-events: auto;
  transform-style: preserve-3d;
  transform: scale(0.9);
  margin-top: -40px;
  border-radius: 10px;
  background: rgba(3, 110, 156, 0.91);

  /* background: var(--swDivSelectcolor);
  color: var(--sel_wraplabelcolorSel); */
}

/* 流量 */
.lightLL {
  position: absolute;
  pointer-events: auto;
  transform-style: preserve-3d;
  transform: scale(0.9);
  margin-top: -40px;
  border-radius: 10px;
  background: rgba(3, 110, 156, 0.91);
}

.lightWSJ {
  position: absolute;
  pointer-events: auto;
  transform-style: preserve-3d;
  transform: scale(0.9);
  margin-top: -40px;
  border-radius: 10px;
  background: rgba(3, 110, 156, 0.91);
}

/* .textNameGQ {
  color: var(--popupContentTitleColor);
} */

.textNameLL {
  text-align: center;
}

.drpValueTGTQ {
  padding: 2px 8px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.drpValue {
  padding: 2px 8px;
  background: rgba(3, 110, 156, 0.91);
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);

  /* border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold;  */

}

/* .lightcontent{
  padding: 2px 8px;
  background: rgba(1, 205, 212, 0.8392156863);
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
} */
/* .light[data-v-bb79ef87] {
  width: auto;
  position: relative;
  bottom: -90px;
  right: 0px;
  padding: 5px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  white-space: break-spaces;
  text-align: left;
  transform: translateY(-60px);
} */
/*标签结束*/

.tmCenter{
  background:linear-gradient(90deg, rgba(0, 163, 255, 0), rgb(51, 148, 172) 50%, rgba(0, 163, 255, 0) 100%);
    width: 300px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    top: 155px;
    left: -webkit-calc(50% - 150px);
    left: -moz-calc(50% - 150px);
    left: calc(50% - 150px);
    z-index: 2;
    color:#fff;
    text-align: center;
    font-size: 1.25rem;
}

.top-warning {
  position: absolute;
  /* bottom: calc(calc(100vh - -20.225rem) * (2 / 6));
  left: 29rem; */
  bottom:10px;
  /* left: 28.5rem; */
  left:calc(50% - 250px);
  /* transform: translateX(-50%); */
  display: flex;
  height: 45px;
  line-height: 45px;
  /* width: 370px; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  z-index:2;
}

.warning-box {
  width: 33%;
  height: 55px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  color: #def1ff;
  display: flex;
  /* background-image: url(/images/warningbg.png); */
  /* background-image: url(/images/box-bg.png); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px 10px 0px 20px;
  /* margin-bottom: 10px; */
}

.numCJ {
  font-size: 1.8rem;
  font-family: "number";
  color: #ffc000;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#f59229), to(#fef886));
  background: linear-gradient(180deg, #f59229, #fef886); */
  -webkit-background-clip: text;
  /* color: transparent; */
  letter-spacing: 0;
  font-weight: 800;
  vertical-align: middle;
  /* color: var(--titled1); */
}
.numCB {
  font-size: 1.8rem;
  font-family: "number";
  color: #ff0000;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#f59229), to(#fef886));
  background: linear-gradient(180deg, #f59229, #fef886); */
  -webkit-background-clip: text;
  /* color: transparent; */
  letter-spacing: 0;
  font-weight: 800;
  vertical-align: middle;
  /* color: var(--titled1); */
}
.warning-title {
  padding-left: 6px;
  font-size: 1.1rem;
  vertical-align: middle;
}
.warning-danwei {
  padding-left: 4px;
  vertical-align: -2px;
}

.text-xiaolv {
  /* width: 370px; */
  width: auto;
  height: 45px;
  line-height: 40px;
  overflow: hidden;
  /* background-image: url(/images/box-bg.png);*/
  background-image: var(--swiperSlideActive);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 4px 10px;
  line-height: 30px;
  color: var(--mtablecolor);
  float: left;
  font-size: 1rem;
  margin: 10px auto 0px 10px;
  padding-top: 6px;
}